<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	
	<display-name>IBM Connections Demo</display-name>

	<!--  IBM Connections Filter --> 	
	<filter>
    	<filter-name>ConnectionsFilter</filter-name>
    	<filter-class>org.darwino.connections.demo.DemoFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>ConnectionsFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    	<dispatcher>REQUEST</dispatcher>
    	<dispatcher>FORWARD</dispatcher>
   	</filter-mapping>
					
	<!-- Welcome pages -->
  	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>
	
	<!-- Enable this to use the J2EE CONTAINER security -->
<!-- 	
	<security-role>
		<role-name>user</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ApplicationRoot</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
 		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Darwino Connections Demo</realm-name>
	</login-config>
 -->
   	  	
</web-app>
